* {
    box-sizing: border-box;
  }

  body{
    font-family: Lato, sans-serif;
    background-color: #A79AE0;
    padding: 20px;
    color: #252525;
  }

  a{
    text-decoration: none;
  }

  .user-card{
    max-width: 300px;
    min-width: 200px;
    border-radius: 20px;
    background-color: #FFFF;

    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
  }

  .logo{
    display: flex;
    position: absolute;
    left: 30px;
  }

  .small_logo{
    width: 30px;
    height: 30px;
  }

  .user-logo{
    width: 150px;
    height: 150px;
  }

  .name-titile{
    font-weight: 700;
    font-size: 30px;
  }

  .job{
    font-size: 18px;
  }

  .about-me{
    font-size: 15px;
  }

  .gmail{
    font-size: 12px;
    font-weight: 400;
    color: white;
    background-color: #26235C;
    padding: 10px 15px;
    border-radius: 10px;
    transition: 0.3s;
  }

  .gmail:hover{
    background-color: #A79AE0;
    color: white;
  }

  .links{
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .links-style{
    color: #26235C;
    font-size: 20px;
  }
