* {
    box-sizing: border-box;
  }

  body{
    font-family: 'Inter', sans-serif;
    padding: 20px;
    background-color: #FFFF;
  }

  .card{
    max-width: 200px;
    min-width: 150px;
    width: 100%;

    border-radius: 5px;
    background-color:#5D5FEF;

    box-shadow: 0 0 10px #5D5FEF;

  }

  .card-container{
    display: flex;

    flex-direction: column;
    gap: 10px;
    padding: 5px 15px 12px;
  }


  .user-photo{
    width: 100%;
    padding: 1px 1px 1px 1px;

    border-top-left-radius:5px ;
    border-top-right-radius:5px ;
  }

  .user-name{
    color: #FFFF;
    font-size: 15px;
    font-weight: 500;
  }

  .user-prof{
    color: #a4a5f6;
    font-size: 10px;
    font-weight: 300;
  }

  .about-prof{
    color: #FFFF;
    font-size: 8px;
    font-weight: 200;
  }

  .btn-learn-more{
    background-color: #FFFF;
    color: #5D5FEF;
    padding: 5px;
    border-radius: 3px;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
  }

  .btn-learn-more:hover{
    background-color: #a4a5f6;
    color: #FFFF;

  }