* {
    box-sizing: border-box;
  }

  body{
    font-family: 'Inter', sans-serif;
    padding: 20px;
    background-color: #3B3F5C;

    display: flex;
    gap: 20px;
  }

  .boots{
    width: 250px;
    height: 250px;
    object-fit: cover;

    max-width: 100%;
  }  

  a{
    text-decoration: none;
  }

  .card{
    max-width: 250px;
    min-width: 150px;
    background-color: white;
    padding: 10px 0;

    border-radius: 10px;
    box-shadow: 0 0 10px white;
  }

  .text{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;

    padding-left: 15px;
  }

  .bestseller{
    color: #B40404;
    font-size: 20px;
    font-weight: 400;
  }

  .model{
    color: black;
    font-size: 20px;
    font-weight: 400;
  }

  .colors,
  .buty{
    color: gray;
    font-size: 15px;
    font-weight: 300;
  }

  .price{
    color: black;
    font-size: 20px;
    font-weight: 600;
  }

  .container-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .buy{
    color: black;
    background-color: #81F781;
    padding: 5px 20px;
    border-radius: 15px;
    transition: 0.5s;
  }

  .buy:hover{
    background-color: #E0F8F7;
    color: black;
  }